{% set menuItems = [
{
'title': i18n('account_page.change_password_page'),
'url': url_for('account.change_password'),
},
{
'title': i18n('account_page.login_sessions_page'),
'url': url_for('account.login_sessions'),
},
] %}

{% extends "content_page.html" %}

{% block head_links %}
{{super()}}
<link rel="stylesheet" href="{{ get_static_resource('css/pages/account.css') }}">
{% endblock %}

{% block page_content %}
<div class="account-page">
   <div class="header">
      <img src="{{ get_static_resource('icons/account_icon.svg') }}" class="profile-icon" />
      <div class="username">
         {{current_user().username}}
      </div>
   </div>
   <div class="content">
      {% for item in menuItems %}
      <div class="nav-row">
         <span class="name">{{item.title}}</span>
         <a href="{{item.url}}">
            <img src="{{ get_static_resource('icons/chevron_right_icon.svg') }}" class="href-icon" />
         </a>
      </div>
      {% endfor %}
   </div>
</div>

{% endblock %}