{% extends "content_page.html" %}

{% block head_links %}
{{super()}}
<link rel="stylesheet" href="{{ get_static_resource('css/pages/change_password.css') }}">
<link rel="stylesheet" href="{{ get_static_resource('css/components/forms/form.css') }}">
{% endblock %}

{% block page_content %}
<div class="change-password-page">
    <div class="header">
        {{i18n('change_password_page.title')}}
    </div>
    <form class="form" method="post" action="{{url_for('account.handle_change_password')}}">
        {% with form=form %}
        {% include "components/forms/form.html" %}
        {% endwith %}
        <button class="submit-button" type="submit">{{i18n('change_password_page.submit_button')}}</button>
    </form>
</div>

{% endblock %}