{% extends "content_page.html" %}

{% block head_links %}
{{super()}}
<link rel="stylesheet" href="{{ get_static_resource('css/pages/login_sessions.css') }}">
{% endblock %}

{% block page_content %}
<div class="login-sessions-page">
    <div class="header">
        {{i18n('login_sessions_page.title')}}
    </div>
    <div class="content">
        {% for session_item in user_sessions %}
        <div class="session-card">
            <div class="header">
                <div class="start">
                    {% if session_item.is_current %}<div class="current-session"></div>{% endif %}
                    <span class="title">{{session_item.value.id}}</span>
                </div>
                <a href="{{url_for('account.remove_login_sessions', id=session_item.value.id)}}" class="remove-session">
                    <img src="{{ get_static_resource('icons/logout_icon.svg') }}" class="icon" />
                </a>
            </div>

            {% set content_items = [{
            "name": i18n('login_sessions_page.created_at'),
            "value": session_item.value.created_at
            },{
            "name": i18n('login_sessions_page.ttl'),
            "value": session_item.ttl
            },{
            "name": i18n('login_sessions_page.ip'),
            "value": session_item.value.ip_address
            }] %}

            <div class="content">
                {% for item in content_items %}
                <div class="content-row">
                    <div class="name">{{item.name}}</div>
                    <div class="value">{{item.value}}</div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}