{% extends "content_page.html" %}

{% block head_links %}
{{super()}}
<link rel="stylesheet" href="{{ get_static_resource('css/pages/storage_statistics.css') }}">
<link rel="stylesheet" href="{{ get_static_resource('css/components/storage_space_bar.css') }}">
{% endblock %}

{% block page_content %}
<div class="storage-statistics-page">
    <div class="header">
        {{i18n('storage_stats_page.title')}}
    </div>
    <div class="content">
        {% include "components/storage_space_bar.html" %}
    </div>
</div>

{% endblock %}