{% extends "content_page.html" %}

{% set directories = current_user().directories %}

{% block head_links %}
{{super()}}
<link rel="stylesheet" href="{{ get_static_resource('css/pages/upload.css') }}">
<link rel="stylesheet" href="{{ get_static_resource('css/components/generic_select.css') }}">

<script src="{{ get_static_resource('js/i18n.js') }}"></script>

<script src="{{ get_static_resource('js/file_chunks_uploader.js') }}"></script>
<script src="{{ get_static_resource('js/file_upload.js') }}"></script>
{% endblock %}

{% set file_upload_preflight_url = url_for('upload.upload_handler_preflight') %}
{% set file_upload_url = url_for('upload.upload_handler') %}

{% block page_content %}
<div class="upload-page">
    <div class="file-upload-wrapper" id="file-upload-wrapper">
        <label for="file-upload-input" class="file-upload-label">
            <img src="{{get_static_resource('icons/upload_icon.svg')}}" class="file-upload-icon">
        </label>
        <input id="file-upload-input" class="file-upload-input" type="file" onchange="handleUploadFileSelected()">

        <div id="file-upload-name" class="file-upload-name"></div>
        {% if directories|length > 0 %}
        <div id="file-upload-target-directory" class="file-upload-target-directory">
            {% with name="target-directory", id="target-directory-select", options=directories|convert_to_dict({'value':
            'uuid', 'name': 'name'}), default={"name": "/", "value": ""} %}
            {% include "components/generic_select.html" %}
            {% endwith %}
        </div>
        {% endif %}

        <div id="file-upload-message" class="file-upload-message"></div>

        <div id="file-upload-progress-bar" class="file-upload-progress-bar">
            <div class="inner" id="file-upload-progress"></div>
            <span class="text" id="file-upload-progress-text"></span>
        </div>

        <button id="file-upload-button" class="file-upload-button"
            onclick="sendFile('{{file_upload_preflight_url}}', '{{file_upload_url}}', '{{get_csrf_token()}}', '{{file_upload_chunk_size}}')">
            {{i18n('file_upload.upload')}}
        </button>
    </div>
</div>

<script>
    setupFileUploadPage();
    setupI18n("{{ i18n('file_upload')| safe}}");
</script>

{% endblock %}