services:
  whimdb:
    command: whimdb-server --port 6000
    container_name: whimdb
    restart: unless-stopped
    build:
      context: .
      dockerfile: docker/Dockerfile.whimdb
  
  ior_app:
    depends_on:
      - whimdb
    command: gunicorn -c gunicorn.conf.py app:app --preload
    container_name: ior-app
    restart: unless-stopped
    build:
      context: .
      dockerfile: docker/Dockerfile.web_app
    ports:
      - ${APP_PORT}:8080
    volumes:
      - ${DB_PATH}:/io_remastered/database
      - ${LOGS_PATH}:/io_remastered/logs
      - ${STORAGE_PATH}:/io_remastered/files_storage
    env_file: ".env.app"

  io_background_tasks:
    command: python3 run_background_tasks.py
    container_name: io-background-tasks
    restart: unless-stopped
    build:
      context: .
      dockerfile: docker/Dockerfile.background_tasks
    volumes:
      - ${DB_PATH}:/io_remastered/database
      - ${LOGS_PATH}:/io_remastered/logs
      - ${STORAGE_PATH}:/io_remastered/files_storage
