{% set dirs_available = directories|length > 0 %}

{% extends "components/modals/modal_base.html" %}
{% block modal_content %}
<div class="edit-file-directory-modal">
    <div class="title">
        {{i18n('edit_file_directory_modal.title')}}
    </div>
    <form action="{{url_for('storage.files.change_file_directory', file_uuid=file_uuid)}}" class="content-wrapper"
        method="post">
        <div class="content">
            {% if dirs_available %}
            {% with name="new-directory", id="new-directory", options=directories|convert_to_dict({'value':
            'uuid', 'name': 'name'}), default={"name": "/", "value": ""} %}
            {% include "components/generic_select.html" %}
            {% endwith %}
            {% else %}
            <div>{{i18n('edit_file_directory_modal.no_dirs_available')}}</div>
            {% endif %}
        </div>
        {% if dirs_available %}
        <div class="actions">
            {{csrf_hidden_input(get_csrf_token())}}
            <button class="apply-button" type="submit">{{i18n('edit_file_directory_modal.apply')}}</button>
        </div>
        {% endif %}
    </form>
</div>
{% endblock %}