.change-file-name-modal {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.change-file-name-modal .title {
    font-size: var(--font-size-l);
}

.change-file-name-modal .change-file-name-form {
    width: 100%;
}

.change-file-name-form .submit-button {
    border: none;
    background: var(--green);
    cursor: pointer;
    height: 32px;
    border-radius: 4px;
    width: 100%;
}
