.change-storage-item-name-modal {
    display: flex;
    margin-top: 16px;
}

.change-storage-item-name-modal .change-name-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.change-storage-item-name-modal .submit-button {
    border: none;
    background: var(--green);
    cursor: pointer;
    height: 32px;
    border-radius: 4px;
    width: 100%;
}
