.modal-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: var(--background-transparent);
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    pointer-events: all;
}

.modal {
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 12px;
    box-sizing: border-box;
    width: 280px;
    background: var(--background-2);
}

.modal .header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header .close-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

@media (max-width: 576px) {
    .modal {
        width: 100%;
        margin: 12px;
    }
}