{% set menuItems = [
{
'title': 'Home',
'icon_name': 'io_placeholder.svg',
'url': url_for('core.home'),
},
{
'title': 'Upload',
'icon_name': 'io_placeholder.svg',
'url': url_for('storage.upload'),
},
{
'title': 'Account',
'icon_name': 'io_placeholder.svg',
'url': url_for('core.home'),
}
] %}


<div class="more-menu" id="more-menu">
    <div class="more-menu-content">
        <div class="header">
            <img src="{{ get_static_resource('icons/close_icon.svg') }}" class="more-menu-icon close-icon"
                onclick="toggleElementVisibility('more-menu', false)" />
        </div>
        <div class="top">
            {% for menuItem in menuItems %}
            <div class="row">
                <a href="{{menuItem.url}}" class="row-inner"><img
                        src="{{ get_static_resource('icons/' + menuItem.icon_name) }}"
                        class="more-menu-icon" /><span>{{menuItem.title}}</span></a>
            </div>
            {% endfor %}
        </div>
        <div class="bottom">
            <div class="disclaimer">
                IOr v{{io_version}}
            </div>
            <a href="{{url_for('auth.logout')}}" class="logout-row"><span>Logout</span><img
                    src="{{ get_static_resource('icons/logout_icon.svg') }}" class="more-menu-icon logout-icon" /></a>
        </div>
    </div>
</div>

<script>
    toggleElementVisibility("more-menu", false);
</script>
