<div class="storage-item-details-row">
    <div class="title">{{item.title}}</div>
    <div class="content-wrapper">
        {% set content = "-" if not item.content else item.content %}
        {% if item.on_content_click %}
        <a class="content-anchor" href="{{item.on_content_click}}">
            <div class="content">{{content}}</div>
        </a>
        {% else %}
        <div class="content">{{content}}</div>
        {% endif %}
        {% if item.get("on_edit") is not none %}
        <img src="{{ get_static_resource('icons/edit_icon.svg') }}" class="edit-icon"
            onclick="{{item.get('on_edit')}}" />
        {% endif %}
    </div>
</div>