.form-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.form-input-container input {
    box-sizing: border-box;
    width: 100%;
    border: none;
    padding: 8px;
    border-radius: 8px;
}

.form-input-container label {}

.form-input-errors-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.input-field-error {
    color: var(--red);
}