.search-bar {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    gap: 4px;
}

.search-bar-form {
    width: 100%;
}

.search-bar-form input {
    width: 100%;
}

.search-button {
    width: 30px;
    min-width: 30px;
    min-height: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: unset;
    border-radius: 4px;
    background: none;
    cursor: pointer;
}

.search-button img {
    width: 24px;
    height: 24px;
}
