.content-page {
    color: var(--white);
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 4px 20%;
}

@media (max-width: 576px) {
    .content-page {
        padding: 4px 16px;
    }
}
