.page-content-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.flashed-messages-wrapper {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.flashed-message {
    padding: 4px 8px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 8px;
}

.flashed-message-error {
    color: var(--white);
    background: var(--red);
}

.flashed-message-success {
     color: var(--white);
     background: var(--green);
}

.flashed-message-title {
    flex: 1;
}

.close-flash-message-icon {
    width: 16px;
    height: 16px;
}
