:root {
    /* colors */
    --background: #1a1a1d;
    --background-1: #38383a;
    --background-2: #242424;
    --background-3: #5c5353;
    --black: #000000;
    --white: #ffffff;
    --red: #ff0000;
    --green: #06d960;
    --green-1: #047b38;
    --green-3: #1a9850;

    /* fonts */
    --font-size-s: 10px;
    --font-size: 13px;
    --font-size-l: 20px;
    --font-size-xl: 30px;
    --font-size-xxl: 40px;
}
