{% extends "content_page.html" %}

{% block head_links %}
{{super()}}
<link rel="stylesheet" href="{{ get_static_resource('css/pages/home.css') }}">
<link rel="stylesheet" href="{{ get_static_resource('css/components/storage_space_bar.css') }}">
<link rel="stylesheet" href="{{ get_static_resource('css/components/file_card.css') }}">
<link rel="stylesheet" href="{{ get_static_resource('css/components/directory_card.css') }}">
{% endblock %}

{% block page_content %}
<div class="home-page">
    {% include "components/storage_space_bar.html" %}
    {% if directories|length > 0 %}
    <div class="section-wrapper">
        <div class="title">
            <span>{{i18n('home_page.directories.title')}}</span>
            <a class="see-all" href="{{url_for('core.home')}}">
                {{i18n('home_page.directories.see_all')}}
                <img src="{{ get_static_resource('icons/chevron_right_icon.svg') }}" class="see-all-icon" />
            </a>
        </div>
        <div class="content-rows">
            {% for directory in directories %}
            {% with directory=directory %}
            {% include "components/directory_card.html" %}
            {% endwith %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <div class="section-wrapper">
        <div class="title">
            <span>{{i18n('home_page.files.title')}}</span>
            <a class="see-all" href="{{url_for('core.files')}}">
                {{i18n('home_page.files.see_all')}}
                <img src="{{ get_static_resource('icons/chevron_right_icon.svg') }}" class="see-all-icon" />
            </a>
        </div>
        {% if files|length > 0 %}
        <div class="content-rows">
            {% for file in files %}
            {% with file=file %}
            {% include "components/file_card.html" %}
            {% endwith %}
            {% endfor %}
        </div>
        {% else %}
        <span>{{i18n('home_page.files.no_content')}}</span>
        {% endif %}
    </div>
</div>

{% endblock %}