<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="{{ get_static_resource('js/index.js') }}"></script>

    <title>IO_remastered</title>
</head>

<body>
    <h1>Hello IOremastered</h1>
    <button onclick="testCSRFFetch('/csrf-test', '{{get_csrf_token()}}')">fetch CSRF protected</button>

    <p>user: {{current_user.username}}</p> 

    <p>{{get_csrf_token()}}</p>
    <p>
        <a href="{{url_for('auth.logout')}}">logout</a>
    </p>
</body>

</html>