<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>IO_remastered - login</title>
</head>

<body>
    <form method="post" action="/login">
        <div class="form-container">
            {{ form.csrf_token_field }}

            {% for field in form.fields %}
            <div class="form-inputs-container">
                {{ field.label }}
                {{ field }}
            </div>
            <div class="form-errors-container">
                {% for error in field.errors %}
                <span>
                    {{ error }}
                </span>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <button type="submit">login</button>
    </form>
</body>

</html>