{% set extra_class_value = extra_class if extra_class is defined else '' %}

<div class="form-container {{ extra_class_value }}">
    {{ form.csrf_token_field }}

    <div class="form-inputs {{ extra_class_value }}">
        {% for field in form.fields %}
        <div class="form-input-container {{ extra_class_value }}">
            {{ field.label }}
            {{ field }}
        </div>
        <div class="form-input-errors-container {{ extra_class_value }}">
            {% for error in field.errors %}
            <span class="input-field-error {{ extra_class_value }}">
                {{ error }}
            </span>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>