.change-password-page {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.change-password-page .header {
    display: flex;
    font-size: var(--font-size-l);
}

.change-password-page form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.change-password-page .submit-button {
    border: unset;
    border-radius: 4px;
    padding: 8px;
    background: var(--green);
    color: var(--black);
    text-transform: capitalize;
    cursor: pointer;
}
