.directory-preview-page {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.directory-preview-page .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header .title {
    font-size: var(--font-size-l);
    display: flex;
}

.header .header-actions {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.header .header-actions a {
    display: flex;
    height: max-content;
    width: max-content;
}

.header-icon {
    display: flex;
}

.header-icon .header-icon-img {
    height: 64px;
    object-fit: contain;
}

.actions-icon {
    object-fit: contain;
    height: 24px;
    cursor: pointer;
}

.directory-preview-page .directory-files {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.directory-preview-page .directory-details {
    display: flex;
    flex-direction: column;
    gap: 12px;
}