.file-preview-page {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.file-preview-page .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header .header-actions {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.header .header-actions a {
    display: flex;
    height: max-content;
    width: max-content;
}

.actions-icon {
    object-fit: contain;
    height: 24px;
    cursor: pointer;
}

.file-header {
    display: flex;
    gap: 20px;
}

.file-header .file-type-icon {
    height: 64px;
    object-fit: contain;
}

.file-header .sharing-enabled-icon {
    height: 24px;
    width: 20px;
    margin-left: auto;
}

.file-details {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
