.file-preview-page {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.file-header {
    display: flex;
    gap: 20px;
}

.file-header .file-type-icon {
    height: 64px;
    object-fit: contain;
}

.file-header .sharing-enabled-icon {
    height: 24px;
    width: 20px;
    margin-left: auto;
}

.file-details {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.file-actions {
    display: flex;
    gap: 16px;
}

.file-actions button {
    border: unset;
    border-radius: 4px;
    padding: 8px 8px;
    background: var(--green);
    color: var(--black);
    text-transform: capitalize;
    cursor: pointer;
}

.file-actions .remove-file-button {
    background: var(--red);
}

.file-actions {
    display: flex;
    gap: 16px;
}

.file-actions button {
    border: unset;
    border-radius: 4px;
    padding: 8px 8px;
    background: var(--green);
    color: var(--black);
    text-transform: capitalize;
    cursor: pointer;
}

.file-actions .remove-file-button {
    background: var(--red);
}

@media (max-width: 576px) {

    .file-actions button,
    a {
        width: 100%;
    }
}