.files-page {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.files-page .title {
    font-size: var(--font-size-l);
    display: flex;
    align-items: center;
    justify-content: space-between
}

.title .see-all {
    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
    color: var(--white);
}

.user-files {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
