.home-page {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.section-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.section-wrapper .title {
    font-size: var(--font-size-l);
    display: flex;
    align-items: center;
    justify-content: space-between
}

.title .see-all {
    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
    color: var(--white);
}


.title .see-all .see-all-icon {
    width: 15px;
    height: 15px;
}

.section-wrapper .content-rows {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
