.login-page-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 100%;
}

.login-page-content-wrapper {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    gap: 16px;
    padding: 16px;
}

.io-logo {
    -webkit-user-drag: none;
    width: 64px;
    height: 64px;
}

.login-page-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.login-form-submit-button {
    border: unset;
    border-radius: 4px;
    padding: 4px;
    background: var(--green);
    color: var(--black);
    text-transform: capitalize;
    cursor: pointer;
}

.login-form-submit-button:disabled {
    cursor: unset;
    background: var(--green-1);
}

@media (max-width: 576px) {
    .login-page-content-wrapper {
        width: 100%;
    }
}
