.password-authentication-page {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.password-authentication-page .header {
    display: flex;
    font-size: var(--font-size-l);
    flex-direction: column;
    gap: 8px;
}

.header .description {
    font-size: var(--font-size-m);
}

.password-authentication-page .content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.submit-button {
    width: fit-content;
    border: unset;
    border-radius: 4px;
    padding: 4px;
    background: var(--green);
    color: var(--black);
    text-transform: capitalize;
    cursor: pointer;
}