.storage-statistics-page {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.storage-statistics-page .header {
    display: flex;
    font-size: var(--font-size-l);
}

.storage-statistics-page .content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.content-grid-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 8px;
    max-width: 100%;
}

.content-tile {
    padding: 4px;
    border-radius: 4px;
    background: var(--background-3);
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-between;
}

.content-tile-name {
    font-size: var(--font-size-m);
    text-overflow: ellipsis;
    overflow: hidden;
}

.content-tile-value {
    font-size: var(--font-size-l);
    text-overflow: ellipsis;
    overflow: hidden;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.section-header {
    font-size: var(--font-size-l);
}

.section-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.files-count-by-extension {
    padding: 4px;
    border-radius: 4px;
    background: var(--background-3);
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
}

.files-count-by-extension .title {
    font-size: var(--font-size-l);
}

.files-count-by-extension .value {
    font-size: var(--font-size-l);
}

.section-caption {
    font-size: var(--font-size-m);
}

.remove-tmp-files-button {
    border: none;
    background: var(--red);
    cursor: pointer;
    height: 32px;
    border-radius: 4px;
    text-transform: uppercase;
    width: 100%;
}
