{% extends "page.html" %}

{% block head_links %}
{{super()}}
<link rel="stylesheet" href="{{ get_static_resource('css/pages/login.css') }}">
<link rel="stylesheet" href="{{ get_static_resource('css/components/forms/form.css') }}">
<link rel="stylesheet" href="{{ get_static_resource('css/components/forms/login_form.css') }}">
{% endblock %}

{% block page %}
<div class="login-page">
    <div class="login-page-content-wrapper">
        <img src="{{ get_static_resource('icons/io_placeholder.svg') }}" class="io-logo" />
        <form class="login-page-form" method="post" action="{{url_for('auth.login_submit')}}"
            onsubmit="disableButtonById('login-submit-button')">
            {% with extra_class="login-form", form=form %}
            {% include "components/forms/form.html" %}
            {% endwith %}
            <button class="login-form-submit-button" id="login-submit-button" type="submit">login</button>
        </form>
    </div>
    <div class="app-version">v{{io_version}}</div>
</div>

{% endblock %}