{% extends "page.html" %}

{% block head_links %}
<link rel="stylesheet" href="{{ get_static_resource('css/pages/login.css') }}">
<link rel="stylesheet" href="{{ get_static_resource('css/components/forms/form.css') }}">
<link rel="stylesheet" href="{{ get_static_resource('css/components/forms/login_form.css') }}">
{% endblock %}

{% block page_content %}
<div class="login-page-wrapper">
    <div class="login-page-content-wrapper">
        <img src="{{ get_static_resource('icons/io_placeholder.svg') }}" class="io-logo" />
        <form class="login-page-form" method="post" action="{{url_for('auth.login_submit')}}">
            {% with extra_class="login-form" %}
            {% include "components/form.html" %}
            {% endwith %}
            <button class="login-form-submit-button" type="submit">login</button>
        </form>
    </div>

</div>

{% endblock %}