{% extends "content_page.html" %}

{% block head_links %}
{{super()}}
<link rel="stylesheet" href="{{ get_static_resource('css/pages/password_authentication.css') }}">
<link rel="stylesheet" href="{{ get_static_resource('css/components/forms/form.css') }}">
{% endblock %}

{% block page_content %}
<div class="password-authentication-page">
    <div class="header">
        <span>
            {{i18n('password_authentication_page.title')}}
        </span>
        <span class="description">
            {{i18n('password_authentication_page.description')}}
        </span>
    </div>
    <div class="content">
        <form class="form" method="post" action="{{url_for('auth.password_authentication_submit')}}">
            {% with form=form %}
            {% include "components/forms/form.html" %}
            {% endwith %}
            <button class="submit-button" type="submit">
                {{i18n('password_authentication_page.submit_button')}}
            </button>
        </form>
    </div>
</div>

{% endblock %}