{% extends "content_page.html" %}

{% set is_viewed_by_owner = is_viewed_by_owner(directory, current_user().id) %}

{% set details_items = [{
"title": i18n('directory_preview_page.details.name'),
"content": directory.name,
"on_edit": "toggleElementVisibility('edit_directory_name_modal', true)" if is_viewed_by_owner else None
},
{
"title": i18n('directory_preview_page.details.size'),
"content": directory.get_size()|formatted_file_size
},
{
"title": i18n('directory_preview_page.details.files_count'),
"content": directory.files|length
},
{
"title": i18n('directory_preview_page.details.creation_date'),
"content": directory.created_at.strftime('%d-%m-%Y %H:%M:%S')
}] %}

{% set sharing_icon = "share_icon.svg" if not directory.is_shared else "share_enabled_icon.svg" %}

{% block head_links %}
{{super()}}
<link rel="stylesheet" href="{{ get_static_resource('css/pages/directory_preview.css') }}">

<link rel="stylesheet" href="{{ get_static_resource('css/components/forms/form.css') }}">

<link rel="stylesheet" href="{{ get_static_resource('css/components/file_card.css') }}">

<link rel="stylesheet" href="{{ get_static_resource('css/components/forms/form.css') }}">
<link rel="stylesheet" href="{{ get_static_resource('css/components/forms/search_bar.css') }}">

<link rel="stylesheet" href="{{ get_static_resource('css/components/pagination_controls.css') }}">

{% if is_viewed_by_owner %}
<link rel="stylesheet" href="{{ get_static_resource('css/components/modals/modal_base.css') }}">
<link rel="stylesheet" href="{{ get_static_resource('css/components/modals/remove_directory_modal.css') }}">
<link rel="stylesheet" href="{{ get_static_resource('css/components/modals/change_storage_item_name_modal.css') }}">
<link rel="stylesheet" href="{{ get_static_resource('css/components/modals/share_directory_modal.css') }}">
{% endif %}

<link rel="stylesheet" href="{{ get_static_resource('css/components/storage_item_details_row.css') }}">
{% endblock %}

{% if is_viewed_by_owner %}
{% block page_outer_content %}
{{super()}}
{% with modal_id='remove_directory_modal', directory=directory %}
{% include "components/modals/remove_directory_modal.html" %}
{% endwith %}
{% with modal_id='edit_directory_name_modal', item=directory, endpoint='storage.change_directory_name',
form=rename_directory_form %}
{% include "components/modals/change_storage_item_name_modal.html" %}
{% endwith %}
{% with modal_id='share_directory_modal', item=directory %}
{% include "components/modals/share_directory_modal.html" %}
{% endwith %}
{% endblock %}
{% endif %}

{% block page_content %}
<div class="directory-preview-page">
    <div class="header">
        <div class="header-icon">
            <img src="{{ get_static_resource('icons/directory_icon.svg') }}" class="header-icon-img">
        </div>
        {% if is_viewed_by_owner %}
        <div class="header-actions">
            <img src="{{get_static_resource('icons/' + sharing_icon)}}" class="actions-icon"
                onclick="toggleElementVisibility('share_directory_modal', true)" />
            <img src="{{get_static_resource('icons/trash_icon.svg')}}" class="actions-icon"
                onclick="toggleElementVisibility('remove_directory_modal', true)" />
        </div>
        {% endif %}
    </div>
    <div class="directory-details">
        {% for item in details_items %}
        {% with item=item %}
        {% include "components/storage_item_details_row.html" %}
        {% endwith %}
        {% endfor %}
    </div>
    {% with route=url_for('storage.directory_preview', uuid=directory.uuid), form=search_form %}
    {% include "components/forms/search_bar.html" %}
    {% endwith %}
    {% if files_pagination.items|length > 0 %}
    <div class="directory-files">
        {% for file in files_pagination.items %}
        {% with file=file %}
        {% include "components/file_card.html" %}
        {% endwith %}
        {% endfor %}
    </div>
    {% else %}
    <span>{{i18n('directory_preview.no_content')}}</span>
    {% endif %}
    {% with pagination=files_pagination %}
    {% include "components/pagination_controls.html" %}
    {% endwith %}
</div>

{% endblock %}