{% extends "content_page.html" %}

{% block head_links %}
{{super()}}
<link rel="stylesheet" href="{{ get_static_resource('css/pages/upload.css') }}">
<script src="{{ get_static_resource('js/file_upload.js') }}"></script>
{% endblock %}

{% block page_content %}
<div class="upload-page">
    <div class="file-upload-wrapper" id="file-upload-wrapper">
        <label for="file-upload-input" class="file-upload-label">
            <img src="{{get_static_resource('icons/upload_icon.svg')}}" class="file-upload-icon">
        </label>
        <input id="file-upload-input" class="file-upload-input" type="file" onchange="handleUploadFileSelected(event)">
        <div id="file-upload-name" class="file-upload-name"></div>
        <button id="file-upload-button" class="file-upload-button">Upload</button>
    </div>
</div>

{% endblock %}