.file-card {
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 4px;
    background: var(--background-3);
    height: 42px;
    gap: 8px;
}

.file-card .title {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    display: block;
    white-space: nowrap;
}

.file-card .file-type-icon {
    height: 24px;
}

.file-card .open-file-preview-icon {
    height: 24px;
    width: 20px;
    margin-left: auto;
}
.file-card  .open-file-preview-anchor {
    display: flex;
}
