.more-menu {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: flex-end;
    z-index: 101;
    position: fixed;
    height: 100vh;
}

.more-menu .more-menu-overlay {
    pointer-events: all;
    background: var(--background-transparent);
    flex: 1;
}

.more-menu-content-wrapper {
    display: flex;
    flex-direction: column;
    width: 30%;
    background: var(--background-2);
    right: 0;
    box-sizing: border-box;
    height: 100%;
    padding: 12px;
}

.more-menu-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.more-menu-content-wrapper .header {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.more-menu-icon {
    width: 32px;
    height: 32px;
}

.more-menu-icon.close-icon {
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.more-menu-icon.logout-icon {
    width: 23px;
    height: 23px;
}

.more-menu-content-wrapper .top {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 32px;
}

.more-menu-content-wrapper .bottom {
    display: flex;
    gap: 16px;
    font-size: var(--font-size-l);
    color: var(--white);
}

.bottom .disclaimer {
    display: flex;
    flex: 1;
}

.more-menu-content-wrapper .row {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: var(--font-size-l);
    color: var(--white);
}

.more-menu-content-wrapper .row-inner {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: var(--white);
}

.logout-row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    text-decoration: none;
    color: var(--white);
}

@media (max-width: 767.98px) {
    .more-menu-content-wrapper {
        width: 35%;
    }
}

@media (max-width: 576px) {
    .more-menu-content-wrapper {
        width: 100%;
    }
}