.storage-space-bar {
    display: flex;
    align-items: center;
    gap: 8px;
}

.storage-space-bar-text {
    font-size: var(--font-size-l);
}

.storage-space-bar-bar {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    height: 23px;
    border-radius: 5px;
    background: var(--background-2);
}

.storage-space-bar-inner {
    position: absolute;
    height: 100%;
    width: 0%;
    max-width: 100%;
    border-radius: 5px;
    background: var(--green-3);
}
