<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/svg+xml" href="{{ get_static_resource('favicon.svg') }}" />

    <link rel="stylesheet" href="{{ get_static_resource('css/base.css') }}">
    <link rel="stylesheet" href="{{ get_static_resource('css/page.css') }}">
    <link rel="stylesheet" href="{{ get_static_resource('css/variables.css') }}">

    {% block head_links %}
    {% endblock %}

    <title>IOremastered</title>
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flashed-messages-wrapper">
        {% for category, message in messages %}
        <div class="flashed-message flashed-message-{{ category }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}
</body>

</html>