{% extends "base.html" %}

{% block head_links %}
{{super()}}
<link rel="stylesheet" href="{{ get_static_resource('css/page.css') }}">
{% endblock %}

{% block content %}
{% block page_outer_content %}
{% endblock %}
<div class="page-content-wrapper">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flashed-messages-wrapper">
        {% for category, message in messages %}
        <div class="flashed-message flashed-message-{{ category }}">
            <div class="flashed-message-text">
                {{ message }}
            </div>
            <img src="{{ get_static_resource('icons/close_icon.svg') }}" class="close-flash-message-icon"
                onclick="closeFlashMessage(event)" />
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    {% block page %}
    {% endblock %}
</div>
{% endblock %}