{% extends "base.html" %}

{% block head_links %}
{{super()}}
<link rel="stylesheet" href="{{ get_static_resource('css/page.css') }}">
{% endblock %}

{% block content %}
{% block page_outer_content %}
{% endblock %}
<div class="page-content-wrapper">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flashed-messages-wrapper">
        {% for category, message in messages %}
        {% with message=message, category=category, flash_message_uuid=get_uuid() %}
        {% include "components/flash_message.html" %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    {% block page %}
    {% endblock %}
</div>
{% endblock %}